*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(162, 213, 233, 0.3);
    color: black;
    font-size: 15px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: rgb(32, 32, 32);
}

ul{
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* nav */

.main-nav {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.house-icon{
    font-size: 250%;
}

.main-nav ul{
    display: flex;
    padding: 15px 15px 5px 15px;
}

.main-nav ul li {
    padding: 0 15px;
}

.main-nav ul li a {
    padding-bottom: 4px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid rgb(32,32,32)
}

/* Index */

.Index {
    border-radius: 10px;
    width: 100%;
    height: 350px;
    background:-webkit-linear-gradient(300deg,rgba(255,255,255,1),rgba(255,255,255,0)),url('./imgs/IMG-4343.JPG') center center no-repeat;
    background-size: cover;
    margin: 10px 0 25px;
}

.Index-contect {
    width: 40%;
    padding: 30px 0px 0px 20px;
}

.Index p {
    margin: 10px 0 40px;
}

/* Media */

.media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 250px;
    width: 100%;
}

.media1 {
    border-radius: 10px;
    border: 2px solid rgb(97, 168, 115);
}
.media2 {
    border-radius: 10px;
    border: 2px solid rgb(97, 168, 115);
}


/* footer */
.footer {
    background-color: rgb(54, 54, 54);
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
}

.container-foot {
    width: 90%;
    margin: auto;
}

.footer-links {
    font-size: 25px;
}

.information {
    margin: 10px 0;
    font-size: 10px;
}