
/* nav */

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.house-icon {
  font-size: 250%;
  padding: 5px;
}

.house-icon:hover {
  background-color: rgba(99, 99, 99, 0.74);
}

.main-nav ul {
  display: flex;
  padding: 15px 15px 5px 15px;
}

.main-nav ul li {
  padding: 0 15px;
}

.main-nav ul li a {
  padding-bottom: 4px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid rgb(32, 32, 32);
}

/* Index */

.Index {
  border-radius: 10px;
  width: 100%;
  height: 350px;
  background: -webkit-linear-gradient(
      300deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    ),
    url('./imgs/IMG-4343.JPG') center center no-repeat;
  background-size: cover;
  margin: 10px 0 25px;
}

.Index-contect {
  width: 40%;
  padding: 30px 0px 0px 20px;
}

.Index-contect h2 {
  margin: 0;
  padding: 0;
}

.Index-contect p {
  padding: 0 0 0 2px;
}

/* Media */

.media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  height: 250px;
  width: 100%;
}

.media1 {
  border-radius: 10px;
  border: 2px solid rgb(97, 168, 115);
}
.media2 {
  border-radius: 10px;
  border: 2px solid rgb(97, 168, 115);
}

