/* index */
table{
    margin: auto;
    margin-top: 40px;
  }
  
  table,
  tr,
  td{
    border: 2px solid white;
    border-collapse: collapse;
  }
  
  img {
      width: 75px;
  }

  .article {
      width: 700px;
  }