/* index */
table{
    margin: auto;
    margin-top: 40px;
  }
  
  table,
  tr,
  td{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 5px;
  }

  img {
      width: 75px;
  }

